/* Configuração geral */
.div-checkout-plano {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  /* Container do checkout */
  .checkout-container {
    background: #75563F;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }
  
  /* Título */
  .h1-checkout-plano {
    margin-bottom: 2rem;
    color: #aa8060;
  }
  
  /* Detalhes do plano */
  .plan-details h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #000000;
    
  }
  
  .plan-details span {
    color: #aa8060;
    font-weight: bold;
  }
  
  .plan-details p {
    font-size: 1rem;
    margin: 1rem 0;
    color: #000000;
    line-height: 1.5;
  }
  
  .plan-details h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #000000;
  }
  
  /* Botão de confirmar compra */
  .confirm-btn {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1.5rem;
    background: #46745d;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .confirm-btn:hover {
    background: #1d4732;
  }
  