
/* *****************************************************************************************************/
/* Update: 2024-11-22
/* Description:  NavBar the Menu
/* Author: Leandro Brito
/* *****************************************************************************************************/
.div-label-plan{
    background-color: #d7c2b5;
    width: 13%;
    border-radius: 10px;
    color: #75563F;
    font-size: 10pt;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.span-div-label-plan{
    margin-top:28%;
}
.div-label-plan:hover {
    background-color:#46745d;
    color: white;
    width: 15%;
    transition: background-color 0.3s ease;
}
.plans-container {
    background-color: #75563F;
    color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.plans-container h2 {
    margin-bottom: 20px;
}

.plans-container ul {
    list-style-type: none;
    padding: 0;
}

.plans-container ul li {
    margin-bottom: 10px;
}

.plans-container ul li label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.plans-container ul li label input[type="radio"] {
    margin-right: 10px;
}
.plans-container ul li label span {
    font-weight: bold;
}
.spacer {
    height: 30%;
    width: 100%;
}
hr {
    border: 5;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin: 0;
}.grid-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto; /* Centraliza a div */
    width: 80%; /* Ocupa 80% da largura da div principal */
}
.grid-item {
    display: flex;
    align-items: center;
    width: 48%;
}
.grid-item img {
    max-width: 15%;
    height: auto;
    border-radius: 10px;
}
.description {
    margin-left: 20px;
}
.fixed-size {
    width: 150px; /* Largura fixa */
    height: 150px; /* Altura fixa */
    object-fit: cover; /* Garante que a imagem cubra o espaço definido */
}
.grid-item label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.grid-item input[type="radio"] {
    display: none; /* Oculta o input de rádio */
}

.grid-item img {
    border: 2px solid transparent; /* Adiciona uma borda transparente */
}

.grid-item img:hover {
    border: 10px solid #46745d; /* Muda a cor da borda quando o mouse está sobre a imagem */
}

.grid-item input[type="radio"]:checked + img {
    border: 10px solid #46745d; /* Muda a cor da borda quando a opção é selecionada */
}
.div-label-plan input[type="radio"] {
    display: none; /* Oculta o input de rádio */
}
.div-label-plan input[type="radio"]:checked + span{
    border-radius: 10px; /* Arredonda as bordas */
    padding: 5px; /* Espaçamento interno */
    background-color:#46745d;
    color: white;
}
.plan-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.plan-item {
    margin-right: 10px;
}

.plan-item label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.plan-item label input[type="radio"] {
    margin-right: 10px;
}

.plan-item label span {
    font-weight: bold;
}
.descritpion-select-plan{
    text-align: center;
    font-size: 9pt;
}
.description-select-plan-type-meal {
    font-size: 10pt;
}
@media (max-width: 768px) {
    .plans-container {
        width: 90%;
    }
    .grid-container {
        flex-direction: column;
    }
    .grid-item {
        width: 100%;
    }
    .description {
        margin-left: 0;
        margin-top: 10px;
    }
}
/******************************************************/
.multiselect-container {
    text-align: center;
    margin: 20px 0;
}

.multiselect-days {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.day-btn {
    background-color: #d7c2b5;
    color: #75563F;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.day-btn:hover {
    background-color:#46745d;
    color: white;
}

.day-btn.selected {
    background-color:#46745d;
    color: white;
}

.month-btn {
    background-color: #d7c2b5;
    color: #75563F;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.month-btn:hover {
    background-color:#46745d;
    color: white;
}

.month-btn.selected {
    background-color:#46745d;
    color: white;
}   

.div-finish-select-plan {
    background-color: #d7c2b5;
    width: 15%; /* Ajuste o tamanho conforme necessário */
    border-radius: 10px;
    color: #75563F;
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    float: right;
}

.new-div-finish-select-plan {
    background-color: #46745d;
    width: 10%; /* Ajuste o tamanho conforme necessário */
    border-radius: 10px;
    color: white;
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.finish-select-plan-btn {
    width: 100%;
    background: #46745d;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  .finish-select-plan-btn:hover {
    background-color: #1d4732;
  }
  .new-div-finish-select-plan:hover {
    background-color: #1d4732;
  }