<!-- Rodapé  https://cdn-icons-png.flaticon.com/512/5968/5968534.png-->

<footer>
   <div class="div-bar-green-footer"></div>
   <div class="footer-content">
      <a href="https://wa.me/seu_numero_de_whatsapp" target="_blank">
      <img src="{{url_for('static', filename='img/icon_whats.png')}}" alt="WhatsApp">
      WhatsApp
      </a>
      <a href="mailto:seu_email@example.com" target="_blank">
      <img src="{{url_for('static', filename='img/icon_gmail.png')}}" alt="E-mail">
      E-mail
      </a>
      <a href="mailto:seu_email@example.com" target="_blank">
      <img src="{{url_for('static', filename='img/icon_instas.png')}}" alt="E-mail">
      Instagram
      </a>
   </div>
   <div class="footer-culinary">
      "Cooking is like love. It should be entered into with abandon or not at all." - Harriet Van Horne
   </div>
</footer>