<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
   <a class="navbar-brand" href="/">Bread Point</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="/plans">Plans</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
         </li>
      </ul>
   </div>
   <!-- Exibição condicional com base no login -->
   <div class="d-flex">
      {% if session.get('logged_in') %}
      <a href="/logout" class="btn btn-outline-light btn-login mr-2">
      <img src="{{ url_for('static', filename='img/userIcon.png') }}" alt="User Icon" width="30" />
      Logout
      </a>
      {% else %}
      <a href="/login" class="btn btn-outline-light btn-login mr-2">Login</a>
      <a href="/register" class="btn btn-outline-light btn-register">Register</a>
      {% endif %}
   </div>
</nav>
<div class="div-bar-green"></div>